# Binaries
/verifier/verifier
/run_tests
/plugin_binaries/

# Wrapper configuration and base configuration files
config.json
/config/

# Timestamp reports
/reports/

# Selenium screenshots
selenium/screenshots/
